# Ignore node_modules
node_modules

# Ignore Next.js build output
.next

# Ignore git files
.git
.gitignore

# Ignore env files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore docker files
Dockerfile
docker-compose.yml

# Ignore logs
*.log

# Ignore npm/yarn debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore editor files
.idea
.vscode
*.swp
*.swo

# Ignore OS files
.DS_Store
Thumbs.db 